<p>Hi <%= @user.first_name %>,</p>
<br>
<p>We warmly welcome you to PepereBnB community. We hope you will find wonderful places that fit with your pepere lifestyle,</p>
<br>
<p>Peperely yours,</p>
<br>
<p>PepereBnB team</p>
