#bacground_home {
  background-image: asset-url("background-homepage.jpg");
  color: white;
  background-size: cover;
  line-height: 2.0;
  padding-top: 150px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
}
