<p>Hi <%= @user.first_name %>,</p>
<br>
<p>Your booking request for <%= @flat.title %> from <%= @booking.check_in %> to <%= @booking.check_out %> has been cancelled by you.</p>
<p>We have noticed the owner. Hope to see you soon back on PepereBnB.</p>
<br>
<p>Cheers,</p>
<br>
<p>PepereBnB team</p>
