<p>Hi <%= @user.first_name %>,</p>
<br>
<p>Confratulations! Your booking request for <%= @flat.title %> from <%= @booking.check_in %> to <%= @booking.check_out %> has been confirmed by the owner.</p>
<br>
<p>Cheers,</p>
<br>
<p>PepereBnB team</p>
