<div id="background_home">
<h1 class="text-center">Welcome to Robinson</h1>
<br>
<h3 class="text-center">Rent exceptional island places</h3>
<br>
<br>
<br>
<br>
<div class="row">
  <div class="sm-col-10 col-sm-offset-1">
    <%= form_tag flats_path, :method => :get do |f| %>
      <div class="form-inline">
        <%= search_field_tag :city, params[:city], placeholder: "Where are you going?", class: "form-control" %>
        <%= search_field_tag :guests, params[:guests], placeholder: "How many guests?", class: "form-control" %>
        <span>
         <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>

<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true"
  id="#facebook_details">
</div>
</div>

