<p>Hi <%= @user.first_name %>,</p>
<br>
<p>Congratulations ! You have successfully created <%= @flat.title %> on PepereBnB. First booking requests should come up very quickly</p>
<br>
<p>Cheers,</p>
<br>
<p>PepereBnB team</p>
